<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>This is a Movie sentiment analysis app</h1>
    <form action="{{ url_for('predict') }}" method="post">
        <label for="review">Tell me your review about the movie</label>
        <textarea id="review" name="review" rows="4" required></textarea>
        <button type="submit">I will predict your sentiment</button>
    </form>
    <div id="result">
        {% if prediction %}
            <p>Sentiment: {{ prediction }}</p>
        {% endif %}
    </div>
</body>
</html>