<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="text-align: center;">
    <h1>This is a Movie sentiment analysis app</h1>
    <form action="{{ url_for('predict_review') }}" method="post" style="text-align: center;">
        <label for="user_review">How was the movie?</label><br>
        <textarea id="user_review" name="user_review" rows="4" required></textarea><br>
        <button type="submit">Check Sentiment</button>
    </form>
    <div id="result" style="text-align: center;">
        {% if review_prediction %}
            <p>Result Sentiment: {{ review_prediction }}</p>
        {% endif %}
    </div>
</body>
</html>